.cl-QuestionCard {
    margin-bottom: 20px;

    .left-pane {
        .UD-container {
            display: flex;
            flex-direction: column;

            .net-cnt{
                margin-left: 15px;
            }

            .down-icon {
                transform: rotateX(180deg);
            }
        }
    }

    .right-pane {
        .detailsClickable:hover {
            color: rgb(33, 139, 210);
            cursor: pointer;
        }

        .imageContainer {
            margin-top: 10px;

            .qImage {
                width: auto;
                max-height: 100px;
            }
        }

        .imageContainer:hover {
            cursor: pointer;
        }

        .tags {
            margin-top: 10px;

            .divider {
                background-color: rgb(174, 129, 129);
            }

            .tag {
                background-color: rgb(126, 219, 188);
            }
        }

    }

}