.cl-QuestionCard {
    margin-bottom: 20px;
    padding: 0;
    background-color: rgb(133, 151, 150);
    width: 100%;
    max-height: 500px;

    .qContent {
        padding: 10px;

        .qDetails {
            margin: 0;
            padding: 5px;
            max-height: 150px;
        }

        .qDetailsClickable {
            margin: 0;
            padding: 5px;
            max-height: 150px;
        }

        .qDetailsClickable:hover {
            background-color: rgb(115, 173, 236);
            border-radius: 5px;
            cursor: pointer;
        }

        .qImageContainer {
            margin-top: 10px;

            .qImage {
                width: auto;
                max-height: 100px;
            }
        }

        .qImageContainer:hover{
            cursor: pointer;
        }

        .qTags {
            margin-top: 10px;

            .divider{
                background-color: rgb(174, 129, 129);
            }

            .tag {
                background-color: rgb(221, 236, 231);
            }
        }

    }

}