.lt-Breadcrumbs {
  &-separator {
    margin-left: 10px;
  }

  &-list {
    list-style: none;
    padding: 0;
    display: flex;
  }

  &-item {
    display: inline-block;
    margin-right: 5px;
  }

  &-link {
    text-decoration: none;
    color: #3498db;

    &:hover {
      text-decoration: underline;
    }
  }

  &-nonlink {
    color: gray;
  }
}
