.cl-ChapterDetail {
    padding: 20px;
    margin: auto;

    .heading {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
    }

    .filter {
        width: 50%;
    }

    .empty {
        width: 30%;
        margin: 30vh auto;
    }

    .filter-mbl{
        visibility: hidden;
        margin-bottom: -20px;
    }

    .sort-options{
        display: flex;
        justify-content: flex-end;
    }

    @media only screen and (max-width: 780px) {
        .empty {
            width: 100%;
        }
        .filter{
            display: none;
        }
        .filter-mbl{
            visibility: visible;
            margin-bottom: 20px;
        }
    }
}