.cl-ChapterDetail {
    padding: 20px;
    margin: auto;

    .heading {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter {
        width: 40%;
    }

    .ask-btn{
        background-color: rgb(132, 182, 226);
        border: 1px solid rgb(23, 184, 238);
        height: 32px;
        border-radius: 5px;
        font-size: 1.2em;
    }

    .empty {
        display: flex;
        justify-content: center;
    }

    .sort-options{
        display: flex;
        justify-content: flex-end;
    }

    .qContainer{
        width: 80%;
        margin: auto;
        margin-top: 12px;
    }

    @media only screen and (max-width: 780px) {
        .empty {
            width: 100%;
        }
        .filter{
            display: none;
        }
        .filter-mbl{
            visibility: visible;
            margin-bottom: 20px;
        }
    }
}