.cl-QuestionDetail{
    width: 80%;
    margin: 20px auto;
    .aHeader{
        margin-top: 10px;
    }
    .editor{
        height: 150px;
    }
    .file-upload {
        margin-top: 80px;
    }
    .btn-container{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}