.lt-TableRow {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  &-headerCell {
    font-weight: bold;
  }

  &-clickable:hover {
    cursor: pointer;
    background-color: var(--primary);
  }
}
