.lt-TableRow {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(24, 154, 180, 0.2);
    transition: all 0.2s ease;
  }

  &-headerCell {
    font-weight: bold;
    color: var(--navy-blue);
    padding: 4px 0;
  }

  &-clickable:hover {
    cursor: pointer;
    background-color: var(--blue-grotto);
    color: var(--white);
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(5, 68, 94, 0.2);
  }
}
