.lt-Table {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-default);
  border-radius: var(--radius-lg);
  overflow: hidden;
  background-color: var(--background-card);
  box-shadow: var(--shadow-sm);
}
