.lt-RootLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background-alt);

  main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 88px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

[data-theme='dark'] .lt-RootLayout {
  background: var(--slate-50);
}
