.cl-QuestionInput {
    width: 80%;
    margin: auto;
    .description-heading {

        margin: 10px 0;
    }

    .editor {
        height: 150px;
    }

    .tag-heading {
        margin-top: 80px;
    }
    .tag-input-container {
        .tag-input {
            width: 100%;
        }
    }

    .file-upload {
        margin-top: 20px;
    }

    .btn-container{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: flex-end;

    }

    .close-btn {
        width: 100px;
    }

    .save-btn {
        width: 100px;
        margin-left: 10px;
    }
}