.lt-settings {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu{
    margin: 10px 0;
  }

  @media only screen and (max-width: 780px) {
    width: 80%;
  }

  input[type='text'],
  input[type='password'],
  input[type='number'],
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
  }

  select{
    margin-bottom: 10px;
  }
  
  button[type='submit'] {
    display: block;
    background-color: var(--form-btn);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: auto;
  }
}
