.lt-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;

  .change-class {
    width: 50%;
  }

  input[type='text'],
  input[type='password'],
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;

    &:focus {
      border-color: #2c3e50;
    }
  }
  
  button[type='submit'] {
    display: block;
    width: 30%;
    background-color: #2c3e50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      background-color: #1d2731;
    }
  }
}
