.lt-Dropdown {
    position: absolute;

    .options-list {
        list-style: none;
        padding: 0;
        margin: 0;
        top: 100%;
        left: 0;
        z-index: 1;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .options-list li {
        padding: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .options-list li:hover {
        background-color: #f0f0f0;
    }

}