.lt-QACard {
  background-color: var(--primary);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;

  @media only screen and (max-width: 780px) {
    padding: 10px;
    border-radius: 5px;
  }

  &-body {
    display: flex;
    flex-direction: row;
  }

  &-left-pane {
    width: 7%;

    &-UD-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-info {
      margin-top: 12px;
      font-size: 0.9em;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media only screen and (max-width: 780px) {
      width: 12%;
      &-info {
        font-size: 0.8em;
      }
    }
  }

  &-right-pane {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    .ql-editor {
      padding: 0;
    }

    .ql-container.ql-snow {
      border: 0;
    }

    &-details-clickable:hover {
      color: rgb(33, 139, 210);
      cursor: pointer;
    }

    &-image-container {
      margin-top: 16px;
    }

    &-image {
      width: 250px;
      height: 100px;
      border-radius: 5px;
    }

    &-image:hover {
      cursor: pointer;
    }

    &-tags {
      margin-top: 12px;
      display: flex;
      flex-direction: row;
      gap: 5px;
    }

    &-tag {
      border: 1px solid;
      border-radius: 5px;
      color: rgb(24, 177, 70);
      padding: 3px;
      font-size: 0.9em;
    }

    @media only screen and (max-width: 780px) {
      &-image {
        width: 120px;
      }

      &-tag {
        font-size: 0.8em;
      }
    }
  }

  &-bottom-pane {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    &-author {
      color: rgb(25, 165, 178);
    }

    @media only screen and (max-width: 780px) {
      gap: 15px;
    }
  }
}

.full-img {
  position: absolute;
  left: 25%;
  max-width: 50%;
  max-height: 50%;
  border: 2px solid grey;
}

.dlt-modal {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 30%;
  height: 20%;
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(198, 78, 38);
}
