.cl-QACard {
    margin-bottom: 20px;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px;

    .left-pane {
        width: 12%;
        margin-left: 15px;

        .UD-container {
            display: flex;
            flex-direction: column;

            .net-cnt {
                margin-left: 47%;
            }

            .down-icon {
                transform: rotateX(180deg);
            }
        }

        .info {
            margin-top: 20px;
        }
    }

    .right-pane {

        .detailsClickable:hover {
            color: rgb(33, 139, 210);
            cursor: pointer;
        }

        .imageContainer {
            margin: 20px 0;
            height: 100px;

            .image {
                width: auto;
                max-height: 100px;
                margin-left: 10px;
            }

            .image:hover {
                cursor: pointer;
            }
        }

        .tags {
            margin-top: 20px;

            .divider {
                background-color: rgb(174, 129, 129);
            }

            .tag {
                background-color: rgb(186, 240, 222);
            }
        }
    }

    .bottom-pane {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .author {
            margin-top: 10px;

            .user-name {
                color: rgb(25, 165, 178);
            }
        }

        .share {
            margin-left: 20px;
        }

        .edit {
            margin-left: 20px;
        }

        .delete {
            margin-left: 20px;
        }
    }
}