.lt-Navigation {
    height: 7vh;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;

    .gap {
        margin-left: 20px;
    }

    .left {
        display: flex;
        margin-left: 10px;
        align-items: center;
    }

    .right {
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
        align-items: center;
    }

    .right-loggedIn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    .idle {
        color: black;
    }

    .pending {
        opacity: 0.5;
    }

    .active {
        color: #1976d2;
    }

}