.lt-Navigation {
    height: 5vh;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 8px;

    .left {
        width: 7%;
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }

    .right {
        width: 7%;
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
    }

    .right-loggedIn {
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
    }

    .idle {
        color: black;
    }

    .pending {
        opacity: 0.5;
    }

    .active {
        color: #1976d2;
    }

}