.lt-Button {
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  border: none;

  &-primary {
    background-color: var(--primary);
    color: black;
  }

  &-secondary {
    padding: 5px;
  }

  &-danger {
    background-color: red;
    color: #fff;

  }

  &-success {
    background-color: rgb(46, 159, 204);
    color: #fff;
  }

  &-disabled{
    cursor: not-allowed;
  }
}